<!doctype html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
	$(function() {
		$('a#test').bind('click', function() {
			$.getJSON('/print_something_test',
				function(data) {
			});
			return false;
		});
	});
</script>

<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=""width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content"ie=edge">
    <title>"Homepage"</title>
</head>
<body>
<div class='container'>
    <h2>This button will do something when pressed</h2>
        <form>
            <a href=# id=test><button class='btn btn-default'>Show something here</button></a>
        </form>
</div>
    <h1 style="color: red">Index</h1>
    <p>Click the button to see something.</p>
    <button type="button">This is a button</button>

</body>
</html>

